---
title: React Native Agency in Asia - Upstack Studio
description: Upstack Studio is your trusted React Native Agency in Asia. We offer React Native development services to our global clients.
changefreq: yearly
priority: 1.0
---

/ Features Section
#home.section.welcome
  = image_tag 'assets/images/background.jpg', alt: 'Upstack Studio Background', class: 'background'
  .container
    .content.center
      %span.logo.glyphicon
        %svg{height: "60px", version: "1.1", viewbox: "58 61 384 379", width: "60px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          / Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch
          %desc Created with Sketch.
          %defs
          %g#1494095391_interface-28-copy{fill: "none", "fill-rule" => "evenodd", stroke: "none", "stroke-width" => "1", transform: "translate(58.000000, 61.000000)"}
            %g#Layer_1{fill: "#FFF"}
              %path#Shape{d: "M378.663865,183.980423 L341.915895,158.686545 L378.663865,133.392667 C385.054816,128.650065 385.054816,122.326595 378.663865,119.16486 L202.912704,3.76154116 C196.521753,-0.981060996 186.935326,-0.981060996 180.544374,3.76154116 L4.79321348,119.16486 C-1.59773783,123.907462 -1.59773783,130.230932 4.79321348,133.392667 L41.5411835,158.686545 L4.79321348,183.980423 C-1.59773783,188.723025 -1.59773783,195.046495 4.79321348,198.208229 L41.5411835,221.92124 L4.79321348,245.634251 C-1.59773783,250.376853 -1.59773783,256.700323 4.79321348,259.862057 L180.544374,375.265377 C186.935326,380.007979 196.521753,380.007979 202.912704,375.265377 L378.663865,259.862057 C385.054816,255.119455 385.054816,248.795986 378.663865,245.634251 L341.915895,221.92124 L378.663865,198.208229 C385.054816,193.465627 385.054816,187.142158 378.663865,183.980423 L378.663865,183.980423 Z M43.1389213,127.069197 L191.728539,30.6362867 L338.720419,127.069197 L191.728539,225.082975 L43.1389213,127.069197 L43.1389213,127.069197 Z M338.720419,253.538588 L191.728539,351.552366 L43.1389213,253.538588 L65.5072509,237.729914 L180.544374,313.611549 C186.935326,318.354151 196.521753,318.354151 202.912704,313.611549 L317.949827,237.729914 L338.720419,253.538588 L338.720419,253.538588 Z M191.728539,288.31767 L43.1389213,190.303893 L67.1049887,174.495219 L180.544374,248.795986 C186.935326,253.538588 196.521753,253.538588 202.912704,248.795986 L316.35209,174.495219 L340.318157,190.303893 L191.728539,288.31767 L191.728539,288.31767 Z"}
      %p#company_name UPSTACK STUDIO
      %h1 Your Trusted React Native Agency In Asia
      .text-center
        %h2 We craft custom mobile applications for your business
      %a.scroll-down.btn{href: "#learn-more"} LEARN MORE
      %br/
      %a.scroll-down#meet-expert{href: "#learn-more"}
        %i.fa.fa-angle-down

/ Learn More section
#learn-more.section.short.white
  .fixed-container
    .content.learn-more.text-center
      %p Leverage on our technical expertise to solve your business challenges. Upstack Studio is here to listen, understand and deliver customized solution for you.
      %a.scroll-down{href: "#process"}
        %button.round-button
          %span
            How We Work

/ Process Section
/ Image background parallax
#process.section.image
  .background.parallax
  .fixed-container
    .content.process
      %h2 Our Process
      .row
        .empty.col-md-2.col-sm-1.col-xs-12
        .col-md-8.col-sm-10.col-xs-12
          %h3.text-center Building software is about solving one problem after another. We always make sure that we are equipped with the right problem-solving tools, processes and mindsets. Our best practices and processes can get your idea to a customer ready product destined to succeed in the most agile way.
        .empty.col-md-2.col-sm-3.col-xs-12
      .row
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-search{"data-toggle" => "tooltip", title: "Professional application planning, architeching the most appropriate back and front-end stack."}
            %span RESEARCH
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-code{"data-toggle" => "tooltip", title: "As soon as we pick the right tools for your project, we begin working on it with you."}
            %span DEVELOPMENT
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-check{"data-toggle" => "tooltip", title: "Writing tests help us make sure that your product is future-proof. The main phase of testing happens daily."}
            %span TESTING
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-rocket{"data-toggle" => "tooltip", title: "Once you are ready to ship your project, we will help you deploy it to your own infrastructure."}
            %span PRODUCTION

/ Portfolio Section
/ On smaller devices, portfolio becomes auto height and no fixed
#services.section.white
  .fixed-container
    .content
      .row
        .col-md-6.col-sm-12.col-xs-12.text-left
          %h2 Our Services
          .hidden-sm.hidden-xs.service-section
            %p Writing software is more than just getting the codes to work. We take pride in building great digital products that are in rock solid condition.
            %p We rely heavily on automated test suites which allow us to craft your product with confidence, focusing on new features that matter the most.
            %p Your Idea  +  Our Best Practices  =  A World Class Software
            %a.scroll-down{href: "#contact"}
              %button.round-button
                %span
                  Launch Your Product With Us
        .col-md-6.col-sm-12.col-xs-12.services-icons
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-desktop.fa-3x
              %h5 WEB APPS
              %p Stunning web apps using Bootstrap or any design framework of your choice
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-mobile.fa-3x
              %h5 MOBILE APPS
              %p iOS and Android native apps using React Native, the latest technology by Facebook
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-server.fa-3x
              %h5 BACKEND SERVERS
              %p Backend servers/API using a popular open source framework Ruby on Rails
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-code-fork.fa-3x
              %h5 WORKFLOW
              %p Setup a future-proof workflow for your newly-formed Tech team
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-code.fa-3x
              %h5 TESTING
              %p If you have an app already, we can help with automated test suite to make sure your app is battle tested
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-diamond.fa-3x
              %h5 YOU TELL US
              %p We are always ready to take on new challenges. Tell us your problem and we will solve it for you
          .hidden-lg.hidden-md.text-center
            %a.scroll-down{href: "#contact"}
              %button.round-button
                %span
                  Launch Your Product With Us

/ What Will You Get Section
#expectation.section
  .fixed-container
    .content.expectation
      %h2 What Will You Get
      .row
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-code.fa-4x
          %h3 The Best Code
          %p Our team follows best practices by using various code analysis tools to make sure the codes we write are of good quality.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-comments-o.fa-4x
          %h3 Communications
          %p When you work with us, you have direct access to the team working on your project through our team chat. There's no middleman.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-file-text-o.fa-4x
          %h3 Documentations
          %p You will have full visibility on our processes with a well writen documentations on everything we do. Transparency is very important to us.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-hourglass-start.fa-4x
          %h3 Save Time
          %p Spend less time worrying about the technical aspects of your business. Give us a crash course on your business and we will handle it for you.
      %a.scroll-down{href: "#contact"}
        %button.round-button
          %span
            Let's Talk

/ GALLERY
-# .container
/ Clients and Testimonials Section
/ Image background parallax
-# #clients.section.image
-#   .background.parallax
-#   .fixed-container
-#     .content.process
-#       %h1 Clients &amp; Testimonials
-#       .row
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#wdc", "data-toggle" => "tab", href: "http://webdesigncrowd.com"}
-#             %img{alt: "webdesigncrowd", src: "assets/images/logo.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#creativemarket", "data-toggle" => "tab", href: "https://creativemarket.com/webdesigncrowd/"}
-#             %img{alt: "Creative Market", src: "assets/images/CreativeMarket-Logo.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#themeforest", "data-toggle" => "tab", href: "http://themeforest.net/?ref=acburst"}
-#             %img{alt: "themeforest", src: "assets/images/themeforest.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#mojothemes", "data-toggle" => "tab", href: "http://www.mojo-themes.com/?r=webdesigncrowd"}
-#             %img{alt: "Mojo", src: "assets/images/mojo.png"}/
-#       .row
-#         .empty.col-md-1.col-sm-1.col-xs-12
-#         .col-md-10.col-sm-10.col-xs-12
-#           .tab-content
-#             #wdc.tab-pane.fade WebDesignCrowd
-#             #creativemarket.tab-pane.active.fade.in
-#               Creative Market is a platform for handcrafted, mousemade design
-#               content from independent creatives around the world.
-#               We’re passionate about making beautiful design simple
-#               and accessible to everyone.
-#             #themeforest.tab-pane.fade ThemeForest is an Envato Marketplace. At ThemeForest you can buy and sell HTML templates as well as themes for popular CMS products like WordPress, Joomla and Drupal with prices ranging from just $5 up to $40. Items are priced on the complexity, quality and use of the file. The site is home to a bustling community of web designers and developers and is the biggest marketplace of its kind.
-#             #mojothemes.tab-pane.fade At MOJO Themes we’ve created an open marketplace to sell premium WordPress themes and templates. Also buyers can browse quality items that have been reviewed by our expert team which include free support, upgrades and rich documentation.
-#         .empty.col-md-1.col-sm-1.col-xs-12
#contact.section.short
  .fixed-container
    .row
      .col-md-8.col-sm-10.col-xs-12.col-md-offset-2.col-sm-offset-1
        .text-center
          %h2 We’d love to work with you.
          %h4 Send us your request and we'll get back to you right away on how to get moving.
          .alert.alert-success#thankyou_message{style: "display:none;"}
            Thank you for contacting us. We will get back to you as soon as possible.
          #contact-form
            .alert.alert-danger#email-invalid{style: "display:none;"}
              Email is invalid. Please use a real email so that we can contact you.
            %form#gform{action:  "#{data.site.contact_form_url}", method: "post"}
              .container
                .row
                  .col-md-5.col-sm-6.col-xs-12.col-md-offset-1
                    %input{name: "first_name", placeholder: "First Name", required: "", type: "first_name"}
                  .col-md-5.col-sm-6.col-xs-12
                    %input{name: "last_name", placeholder: "Last Name", required: "", type: "last_name"}
                .row
                  .col-md-10.col-sm-12.col-xs-12.col-md-offset-1
                    %input{name: "email", placeholder: "Your email", required: "", type: "email"}
                .row
                  .col-md-10.col-sm-12.col-xs-12.col-md-offset-1
                    %textarea{name: "message", placeholder: "Your message", required: "", rows: "5"}
                %button.round-button#contact-button.col-md-8.col-sm-8.col-xs-12.col-md-offset-2.col-sm-offset-2{type: "submit"}
                  %span
                    Let's Make Something Great Together
    .row
      .empty.col-md-12.col-sm-12.col-xs-12
        %hr
= javascript_include_tag 'contact-form', type: "text/javascript", data: { cfasync: false }
