#navbar.navbar.navbar-inverse
  .fixed-container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.fa.fa-bars.fa-2x
      %a.navbar-brand{href: "#home"}
        %img#azbolt-logo{alt: "Azbolt Logo", src: "assets/images/azbolt-logo.png"}/
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "#learn-more"}
            %span.glyphicon.glyphicon-user>
            About
        %li
          %a{href: "#process"}
            %i.fa.fa-gear>
            Process
        -# %li
        -#   %a{href: "#team"}
        -#     %span.glyphicon.glyphicon-briefcase>
        -#     Team
        %li
          %a{href: "#services"}
            %span.glyphicon.glyphicon-briefcase>
            Services
        %li
          %a{href: "#contact"}
            %i.fa.fa-inbox>
            Contact

/ Features Section
#home.section.welcome
  %img.background{alt: "Azbolt Background", src: "assets/images/background.jpg"}/
  .container
    .content.center
      %span.logo.glyphicon.glyphicon-flash
      %h2 AZBOLT
      %h1 Your Trusted Ruby on Rails Agency In Asia
      .text-center
        %h2 We crafts custom web applications for your business
      %a.scroll-down.btn{href: "#learn-more"} LEARN MORE
      %br/
      %a.scroll-down#meet-expert{href: "#learn-more"}
        %i.fa.fa-angle-down

/ Learn More section
#learn-more.section.short.white
  .fixed-container
    .content.learn-more.text-center
      %p Leverage on our technical expertise to solve your business challenges. Azbolt is here to listen, understand and deliver customized solution for you.
      %a.scroll-down{href: "#process"}
        %button.round-button
          %span
            How We Work

/ Process Section
/ Image background parallax
#process.section.image
  .background.parallax
  .fixed-container
    .content.process
      %h1 Our Process
      .row
        .empty.col-md-2.col-sm-1.col-xs-12
        .col-md-8.col-sm-10.col-xs-12
          %h3.text-center Building software is about solving one problem after another. We always make sure that we are equipped with the right problem-solving tools, processes and mindsets. Our best practices and processes can get your idea to a customer ready product destined to succeed in the most agile way.
        .empty.col-md-2.col-sm-3.col-xs-12
      .row
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-search{"data-toggle" => "tooltip", title: "Professional application planning, architeching the most appropriate back and front-end stack."}
            %span RESEARCH
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-code{"data-toggle" => "tooltip", title: "As soon as we pick the right tools for your project, we begin working on it with you."}
            %span DEVELOPMENT
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-check{"data-toggle" => "tooltip", title: "Writing tests help us make sure that your product is future-proof. The main phase of testing happens daily."}
            %span TESTING
        .col-md-3.col-sm-3.col-xs-6
          .service-icon
            %i.fa.fa-rocket{"data-toggle" => "tooltip", title: "Once you are ready to ship your project, we will help you deploy it to your own infrastructure."}
            %span PRODUCTION

/ Team Section
-# #team.section
-#   .fixed-container
-#     .content.team
-#       %h1 Meet the Team
-#       .row
-#         .col-md-6.col-sm-6.col-xs-12
-#           %h2 Adrian Ching
-#           %h3.italic Founder/Developer
-#           .portrait
-#             %img{alt: "Adrian Ching", src: "assets/images/adrianching.jpg"}/
-#           %p Ruby on Rails/React Native Developer.
-#           .social-media
-#             %a{"data-toggle" => "tooltip", href: "https://twitter.com/adrianchinghc", title: "Twitter"}
-#               %i.fa.fa-twitter
-#             %a{"data-toggle" => "tooltip", href: "https://github.com/adrianchinghc", title: "Github"}
-#               %i.fa.fa-github
-#         .col-md-6.col-sm-6.col-xs-12
-#           %h2 Soo Yang
-#           %h3.italic Founder/Developer
-#           .portrait
-#             %img{alt: "Soo Yang", src: "assets/images/sooyang.jpg"}/
-#           %p Ruby on Rails/React Native Developer.
-#           .social-media
-#             %a{"data-toggle" => "tooltip", href: "https://github.com/sooyang", title: "Github"}
-#               %i.fa.fa-github
-#       %a.scroll-down{href: "#contact"}
-#         %button.round-button
-#           %span
-#             Hire Us

/ Portfolio Section
/ On smaller devices, portfolio becomes auto height and no fixed
#services.section.white
  .fixed-container
    .content
      .row
        .col-md-6.col-sm-12.col-xs-12.text-left
          %h1 Our Services
          .hidden-sm.hidden-xs.service-section
            %p Writing software is more than just getting the codes to work. We take pride in building great digital products that are in rock solid condition.
            %p We rely heavily on automated test suites which allow us to craft your product with confidence, focusing on new features that matter the most.
            %p Your Idea  +  Our Best Practices  =  A World Class Software
            %a.scroll-down{href: "#contact"}
              %button.round-button
                %span
                  Launch Your Product With Us
        .col-md-6.col-sm-12.col-xs-12.services-icons
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-desktop.fa-3x
              %h5 WEB APPS
              %p Stunning web apps using Bootstrap or any design framework of your choice
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-mobile.fa-3x
              %h5 MOBILE APPS
              %p iOS and Android native apps using React Native, the latest technology by Facebook
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-server.fa-3x
              %h5 BACKEND SERVERS
              %p Backend servers/API using a popular open source framework Ruby on Rails
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-code-fork.fa-3x
              %h5 WORKFLOW
              %p Setup a future-proof workflow for your newly-formed Tech team
          .row
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-code.fa-3x
              %h5 TESTING
              %p If you have an app already, we can help with automated test suite to make sure your app is battle tested
            .col-md-6.col-sm-6.col-xs-12
              %i.fa.fa-diamond.fa-3x
              %h5 YOU TELL US
              %p We are always ready to take on new challenges. Tell us your problem and we will solve it for you
          .hidden-lg.hidden-md.text-center
            %a.scroll-down{href: "#contact"}
              %button.round-button
                %span
                  Launch Your Product With Us

/ What Will You Get Section
#expectation.section
  .fixed-container
    .content.expectation
      %h1 What Will You Get
      .row
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-code.fa-4x
          %h3 The Best Code
          %p Our team follows best practices by using various code analysis tools to make sure the codes we write are of good quality.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-comments-o.fa-4x
          %h3 Communications
          %p When you work with us, you have direct access to the team working on your project through our team chat. There's no middleman.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-file-text-o.fa-4x
          %h3 Documentations
          %p You will have full visibility on our processes with a well writen documentations on everything we do. Transparency is very important to us.
        .col-md-3.col-sm-6.col-xs-12
          %i.fa.fa-hourglass-start.fa-4x
          %h3 Save Time
          %p Spend less time worrying about the technical aspects of your business. Give us a crash course on your business and we will handle it for you.
      %a.scroll-down{href: "#contact"}
        %button.round-button
          %span
            Let's Talk

/ GALLERY
-# .container
/ Clients and Testimonials Section
/ Image background parallax
-# #clients.section.image
-#   .background.parallax
-#   .fixed-container
-#     .content.process
-#       %h1 Clients &amp; Testimonials
-#       .row
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#wdc", "data-toggle" => "tab", href: "http://webdesigncrowd.com"}
-#             %img{alt: "webdesigncrowd", src: "assets/images/logo.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#creativemarket", "data-toggle" => "tab", href: "https://creativemarket.com/webdesigncrowd/"}
-#             %img{alt: "Creative Market", src: "assets/images/CreativeMarket-Logo.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#themeforest", "data-toggle" => "tab", href: "http://themeforest.net/?ref=acburst"}
-#             %img{alt: "themeforest", src: "assets/images/themeforest.png"}/
-#         .logo.col-md-3.col-sm-3.col-xs-12
-#           %a.tab{"data-target" => "#mojothemes", "data-toggle" => "tab", href: "http://www.mojo-themes.com/?r=webdesigncrowd"}
-#             %img{alt: "Mojo", src: "assets/images/mojo.png"}/
-#       .row
-#         .empty.col-md-1.col-sm-1.col-xs-12
-#         .col-md-10.col-sm-10.col-xs-12
-#           .tab-content
-#             #wdc.tab-pane.fade WebDesignCrowd
-#             #creativemarket.tab-pane.active.fade.in
-#               Creative Market is a platform for handcrafted, mousemade design
-#               content from independent creatives around the world.
-#               We’re passionate about making beautiful design simple
-#               and accessible to everyone.
-#             #themeforest.tab-pane.fade ThemeForest is an Envato Marketplace. At ThemeForest you can buy and sell HTML templates as well as themes for popular CMS products like WordPress, Joomla and Drupal with prices ranging from just $5 up to $40. Items are priced on the complexity, quality and use of the file. The site is home to a bustling community of web designers and developers and is the biggest marketplace of its kind.
-#             #mojothemes.tab-pane.fade At MOJO Themes we’ve created an open marketplace to sell premium WordPress themes and templates. Also buyers can browse quality items that have been reviewed by our expert team which include free support, upgrades and rich documentation.
-#         .empty.col-md-1.col-sm-1.col-xs-12
.footer
  .fixed-container
    .row#contact
      .col-md-8.col-sm-10.col-xs-12.col-md-offset-2.col-sm-offset-1
        .text-center
          %h1 Get Started Now
          %h4 Interested in working together? Send us your request and we'll get back to you right away on how to get moving.
          .alert.alert-success#thankyou_message{style: "display:none;"}
            Thank you for contacting us. We will get back to you as soon as possible.
          #contact-form
            .alert.alert-danger#email-invalid{style: "display:none;"}
              Email is invalid. Please use a real email so that we can contact you.
            %form#gform{action: "//script.google.com/macros/s/AKfycbxNm_YCodShmoGNc7-GaygmZarPe52m-FdIEacPpjmue6vJBFZ5/exec", method: "post"}
              .container
                .row
                  .col-md-4.col-sm-6.col-xs-12.col-md-offset-2
                    %input{name: "first_name", placeholder: "First Name", required: "", type: "first_name"}/
                  .col-md-4.col-sm-6.col-xs-12
                    %input{name: "last_name", placeholder: "Last Name", required: "", type: "last_name"}/
                .row
                  .col-md-8.col-sm-12.col-xs-12.col-md-offset-2
                    %input{name: "email", placeholder: "Your email", required: "", type: "email"}/
                .row
                  .col-md-8.col-sm-12.col-xs-12.col-md-offset-2
                    %textarea{name: "message", placeholder: "Your message", required: "", rows: "5"}
                %button.round-button#contact-button.col-md-4.col-sm-8.col-xs-12.col-md-offset-4.col-sm-offset-2{type: "submit"}
                  %span
                    Send message
    .row
      .empty.col-md-12.col-sm-12.col-xs-12
        %hr/
  %p.copyright
    Made with
    %i.fa.fa-heart
    by
    = link_to 'Azbolt', data.site.url
%script{"data-cfasync" => "false", src: "assets/javascripts/contact-form.js", type: "text/javascript"}
